extends layout 
 
block content 
  h1= title 
 if (toShow == null) 
    h2 No instance to Update
  else
  - let Applicationid = toShow._id 
  - let App_Name = toShow.App_Name 
  - let App_company = toShow.App_company
  - let App_size = toShow.App_size
  div 
    div.row 
      div(class='ApplicationAttr mr-3') Application ID is: 
      div #{Applicationid} 
    div.row 
      div(class='ApplicationAttr mr-3') Application App_Name is: 
      div #{App_Name} 
    div.row 
      div(class='ApplicationAttr mr-3') Application App_company is: 
      div #{App_company} 
    div.row 
      div(class='ApplicationAttr mr-3') Application App_size is: 
      div #{App_size} 